.container{
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
#child{
    border: 1px solid black;   
    width: 200px;
    padding: 100px;   
}